.message-line.text-right {
    background-color: #b6efff;
}

.message-line.text-left {
    background-color: #FFFFCC;
}

.text-right, .text-left {
    border-radius: 10px;
}
.text-right + .text-right {
    border-radius: 0px;
}

.text-left + .text-left {
    border-radius: 0px;
}